annotated-types
anyio
babel
backrefs
beautifulsoup4
certifi
charset-normalizer
click
colorama
contourpy
cycler
dill
dnspython
docxcompose
docxtpl
EditorConfig
email_validator
fastapi
fastapi-cli
fonttools
ghp-import
h11
httpcore
httptools
httpx
idna
Jinja2
jsbeautifier
kiwisolver
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mergedeep
mkdocs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocs-mermaid2-plugin
multiprocess
numpy
packaging
paginate
pandas
pathspec
pillow
platformdirs
pydantic
pydantic_core
Pygments
pymdown-extensions
pyparsing
python-dateutil
python-docx
python-dotenv
python-multipart
pytz
PyYAML
pyyaml_env_tag
regex
requests
rich
rich-toolkit
SALib
scipy
setuptools
shellingham
six
sniffio
soupsieve
starlette
typer
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
websockets
